# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
./devs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

dev/
/resources/*.json
/devs/client_secret_54836503314-qgrjovsbdubpdakqlak8u50o9jdr0nm2.apps.googleusercontent.com.json
/devs/devTokens.py
/devs/hockeybot-417500-12b59baa2a04.json
/devs/hockeybot-417500-firebase-adminsdk-yhk4s-86424273de.json
